body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #0f172a;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px;
  background: linear-gradient(135deg, #6366f1, #06b6d4);
}

.profile {
  width: 140px;
  border-radius: 50%;
  border: 4px solid white;
}

/* CARD */
.card {
  background: #1e293b;
  margin: 20px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #334155;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
}

/* PROJECTS */
.project-card {
  background: #334155;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

/* FORM */
form input, form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #6366f1;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* SUCCESS MESSAGE */
#successMsg {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background: rgba(34,197,94,0.2);
  border: 1px solid #22c55e;
  border-radius: 8px;
  color: #22c55e;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}